
$icon-arrow_left: "\EA01" !default;

$icon-arrow_right: "\EA02" !default;

$icon-arrow_uprt: "\EA03" !default;

$icon-bkmrk: "\EA04" !default;

$icon-clip: "\EA05" !default;

$icon-clock: "\EA06" !default;

$icon-comment: "\EA07" !default;

$icon-fb: "\EA08" !default;

$icon-insta: "\EA09" !default;

$icon-like: "\EA0A" !default;

$icon-news: "\EA0B" !default;

$icon-tw: "\EA0C" !default;