@font-face {
  font-family: $global-font-icon;
  src:url("../fonts/iconsfont..eot");
  src:url("../fonts/iconsfont.?#iefix") format("embedded-opentype"),
    url("../fonts/iconsfont.woff") format("woff"),
    url("../fonts/iconsfont.ttf") format("truetype"),
    url("../fonts/iconsfont.#iconsfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icons {
  font-family: $global-font-icon;

  &:before {
    /* Some common icon stuff */
  }

  &.icon-arrow_left {
    &:before {
      content: $icon-arrow_left;
    }
  }
  &.icon-arrow_right {
    &:before {
      content: $icon-arrow_right;
    }
  }
  &.icon-arrow_uprt {
    &:before {
      content: $icon-arrow_uprt;
    }
  }
  &.icon-bkmrk {
    &:before {
      content: $icon-bkmrk;
    }
  }
  &.icon-clip {
    &:before {
      content: $icon-clip;
    }
  }
  &.icon-clock {
    &:before {
      content: $icon-clock;
    }
  }
  &.icon-comment {
    &:before {
      content: $icon-comment;
    }
  }
  &.icon-fb {
    &:before {
      content: $icon-fb;
    }
  }
  &.icon-insta {
    &:before {
      content: $icon-insta;
    }
  }
  &.icon-like {
    &:before {
      content: $icon-like;
    }
  }
  &.icon-news {
    &:before {
      content: $icon-news;
    }
  }
  &.icon-tw {
    &:before {
      content: $icon-tw;
    }
  }

}