@font-face {
  font-family: 'Montserrat-Regular';
  src:url("../fonts/Montserrat-Regular.woff") format("woff"),
  	url("../fonts/Montserrat-Regular.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-Bold;
  src:url("../fonts/Montserrat-Bold.woff") format("woff"),
  	url("../fonts/Montserrat-Bold.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}